<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputvalue">
        <button v-on:click="handdleBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>

    <script>
        var vm= new Vue({
            el:"#app",
            data:{
                list:['第一课的内容','第二课的内容','第三课的内容'],
                inputvalue:''
            },
            methods:{
                // handdleBtnClick:()=>alert(this.vm.$data.inputvalue)
                handdleBtnClick:function(){
                    this.list.push(this.inputvalue)
                    this.inputvalue=''
                }

                }
             
        })
    </script>
</body>
</html>